@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
$border_width: 8px;

@mixin border-colors ($inputColor){
  border-top-color: lighten($inputColor, 35%);
  border-left-color: darken($inputColor, 10%);
  border-right-color: darken($inputColor, 10%);
  border-bottom-color: darken($inputColor, 35%);
}

* {
  margin: 0;
  padding: 0; 
}

body{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(3, 32, 26), rgb(98, 98, 195), rgb(68, 37, 68));
  /* Sets font to "Share Tech Mono' */
  font-family: "Share Tech Mono", monospace;
  overscroll-behavior-y: none;
}

.mainTitle {
  display: flex;
  justify-content: flex-end;
  padding-right: 32%;
  font-size: 200%;
}

.titleImage {
  max-width: auto;
  max-height: auto;
  width: 300px;
}

#allScoresContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.scoreContainer{
  position: relative;
  box-shadow: 6px 20px 30px rgb(83, 23, 117);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  margin-top: .5vh;
  background-image: url('./constants/tetrisboardbackground.jpg');
}

.headerScoreTank{
  background-image: url('./constants/backgroundwebcore.png');
  padding: 2rem;
  border-radius: 15px;
  width: 38vh;
  min-height: 12vh;
  margin: 1vh;
}

.scoreTank{
  background-image: url('./constants/backgroundwebcore.png');
  padding: 2rem;
  border-radius: 15px;
  width: 38vh;
  margin: 1vh;
}

.ongoingScore{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gold;
  font-family: 'Silkscreen', cursive;
  position: absolute;
  left: 23vh;
  top: 14vh;
  z-index: 50;
}

.ongoingScore2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gold;
  font-family: 'Silkscreen', cursive;
  font-size: 460%;
  z-index: 50; 
}

.eachLine{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin-left: -4vh;
}

.playerName{
  color: white;
  text-shadow: 1px 5px 5px rgb(66, 26, 26);
  font-family: 'Silkscreen', cursive;
}

#savedHeader{
  width: 17vh;
  color: rgb(171, 133, 234);
  border: 2px solid rgb(18, 30, 34);
  text-shadow: 10px 15px 25px rgb(181, 228, 25);
  font-family: 'Silkscreen', cursive;
  border-radius: 15px;
  padding: .5vh;
  margin-top: .5vh;
  background-image: url('./constants/backgroundwebcore.png');
  background-size: 475px;
  background-position: center;
}

.scoreName{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 190%;
  text-shadow: 1px 5px 5px rgb(66, 26, 26);
  font-family: 'Silkscreen', cursive;
}

.scoreNumber{
  color: gold;
  font-family: 'Silkscreen', cursive;
  text-shadow: 10px 10px 5px rgb(40, 9, 9);
}

.mainDiv{
  border-radius: 40px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 742.5px; 
  width: 100%;
  margin: 1vh 15%;    
  justify-content: flex-start;
}

#leftMainDiv { 
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./constants/tetrisboardbackground.jpg');
  margin-right: .4vh;
  width: 22vh;
}

.TetrisBoard {
  position: relative;
  flex-basis: 398.25px;
  background-color: #1f2122;
  border: 2px solid;
  box-shadow: 6px 20px 30px rgb(112, 193, 93);
  overflow: hidden;
}

.savedTetroBoard {
  position: relative;
  border-radius: 15px;
  width: 18vh;
  height: 18vh;
  background-color: #1b2a31;
  border: 2px solid;
  box-shadow: 6px 10px 40px rgb(99, 125, 202);
  background-image: url('./constants/backgroundwebcore.png');
  background-size: 475px;
  background-position: center;
}

#incomingTetroContainer{
  position: relative;
  border-radius: 15px;
  margin-top: .5vh;
  width: 18vh;
  height: 76vh;
  background-color: #1b2a31;
  border: 2px solid;
  box-shadow: 6px 10px 40px rgb(99, 125, 202);
  background-image: url('./constants/backgroundwebcore.png');
  background-size: 735px;
  background-position: 80%;
}

.boardGrid {
  position: relative  ;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}

.falling-container {
  position: absolute;
}

ul {
  display: block;
  list-style-type:none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


input:focus {
  border: 3px solid rgb(196, 174, 174);
  background-color: #242828;
}

.inputName{
  font-family: 'Silkscreen', cursive;
  color: yellow;
  width: 100%;
  height: 40px;
  font-size: 125%;
  border: none;
  outline: none;
  background-color: rgb(63, 77, 90);
  text-align: center; 
}

.gameOverTank{
  margin-top: 40%;
  width: 100%;
  border-style: outset;
  background-color: rgb(20, 36, 51);
}

.singleBlock {
  width: 100%;
  height: 100%;
}

.hlBlock {
  width: 100%;
  height: 100%;
  background-color: #1f2122;
  background-image: linear-gradient(-25deg, #ffffff, #23a6d5, #d90101);
  background-size: 200% 200%;
  animation: gradient .1s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.WholeTetro{
  position: absolute;
  padding: 0;
  margin: 0;
}
.savedTetroDry {
  position: absolute;
  padding: 0;
  margin: 0;
}

.savedTetroAnimation {
  position: absolute;
  padding: 0;
  margin: 0;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s; // Animation will start immediately
  animation-fill-mode: forwards; // Prevent the animation from resetting to initial state
}

@keyframes spin {
  0% {
    transform: rotateY(0);
    animation-timing-function: linear;
  }
  100% { // We also adjusted the keyframes to have the final state at 100%
    transform: rotateY(360deg);
    animation-timing-function: linear;
  }
}

/* Style for the message container */
.message-container {
  padding-top: 1.5em;
  color: #ffffff;
  text-align: center;
}

/* Keyboard style */
.keyboard {
  padding: 2.5em 0;
  width: 600px;
  margin: 0 auto;
}

/* Top row for keyboard */
.top-row {
  width: 140px;
  /* Off Centered */
  /* width: 190px; */
  margin: 0 auto;
}
/* Bottom row for keyboard */
.bottom-row {
  display: flex;
  justify-content: space-between;
}

.key-tank{
  color: white;
  text-align: center;
  font-size: 1.5em; 
};
/* Style for each Key */
.key {
  background-color: #353943;
  border: 1px solid #834426;
  box-shadow: 5px 5px #c2b7ab;
  color: #ffffff;
  width: 100px;
  margin: 15px;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.07s ease;
}

.introduction-instructions{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure it's on top */
  background-color:  rgb(44, 24, 44);
  opacity: 80%;
}

/* Active Class for Key */
.activeKey {
  transform: scale(1.1);
  position: relative;
  top: 0.2em;
  left: 0.2em;
  box-shadow: 0 0 0 0;
}

/* Sets font size for each Key */
.key > p {
  font-size: 2em;
}

.GhostTetro{
  position: absolute;
  padding: 0;
  margin: 0;
}

@mixin ghostBlockBorders ($inputColor){
  border-top-color: $inputColor;
  border-left-color: $inputColor;
  border-right-color: $inputColor;
  border-bottom-color: $inputColor;
}
  
.ghostBlock{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
  border-style: solid;
  border-width: 10px;
  border-radius: 7px;
  box-sizing: border-box;
  animation: glow 1s infinite;
  opacity: 0.7;
  background-color: #1e1e1e;
  
  &.iTetro {
      @include border-colors(#80ffff);
    }
    &.oTetro {
      @include border-colors(#ffff80);
    }
    &.tTetro {
      @include border-colors(#c080ff);
    }
    &.jTetro {
      @include border-colors(#8080ff);
    }
    &.lTetro {
      @include border-colors(#ffc080);
    }
    &.sTetro {
      @include border-colors(#80ff80);
    }
    &.zTetro {
      @include border-colors(#ff8080);
    }
  }

@keyframes glow {
  0% {
    box-shadow: 0 0 8px #fff;
  }
  50% {
    box-shadow: 0 0 25px #fff;
  }
  100% {
    box-shadow: 0 0 8px #fff;
  }
}

.square-container{
  position: absolute;
  width: 25%;
  height: 25%; 
  border-style: inset;
  border-color: #081b1b;
}

.saved-square-container{
  position: absolute;
  width: 25%;
  height: 25%; 
  border-style: inset;
  border-color: #2a9898;
}

.genesisFooter{
  display: flex;
  justify-content: center;
}

#app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.app-tank{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.genesisButton {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 10rem;
}

.genesisButton:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.genesisButton:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.genesisButton:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.staticBlock {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 
              0px 0px 10px rgba(0, 0, 0, 0.5);
  border-style: outset;
  border: 7px solid;
  box-sizing: border-box;

  &.iTetro {
    @include border-colors(#00ffff)  
  }
  &.oTetro {
      @include border-colors(#ffff00)  
    }
  &.tTetro {
      @include border-colors(#aa00ff)  
  }
  &.jTetro {
      @include border-colors(#0000ff)  
  }
  &.lTetro {
      @include border-colors(#ffaa00)  
    }
  &.sTetro {
      @include border-colors(#00ff00)  
  }
  &.zTetro {
      @include border-colors(#ff0000)  
  }
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgb(120, 20, 191);
}
  
.explosion-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.explosion-color {
  position: absolute;
  background-image: linear-gradient(-25deg, #ffffff, #23a6d5, #d90101);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
.explosion-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}