@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(3, 32, 26), rgb(98, 98, 195), rgb(68, 37, 68));
}


.mainTitle {
    display: flex;
    justify-content: flex-end;
    padding-right: 32%;
    font-size: 200%;
}

.titleImage {
    max-width: auto;
    max-height: auto;
    width: 300px;

}

#allScoresContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.scoreContainer{
    position: relative;
    box-shadow: 6px 20px 30px rgb(83, 23, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    margin-top: .5vh;
    background-image: url('./constants/tetrisboardbackground.jpg');
}

.scoreTank{
    background-image: url('./constants/backgroundwebcore.png');
    padding: 2rem;
    border-radius: 15px;
    width: 38vh;
    margin: 1vh;
}

.ongoingScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gold;
    font-family: 'Silkscreen', cursive;
    font-size: 350%;
}


.eachLine{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin-left: -4vh;

}

.playerName{
    color: white;
    text-shadow: 1px 5px 5px rgb(66, 26, 26);
    font-family: 'Silkscreen', cursive;
}

#savedHeader{
    width: 17vh;
    color: rgb(171, 133, 234);
    border: 2px solid rgb(18, 30, 34);
    text-shadow: 10px 15px 25px rgb(181, 228, 25);
    font-family: 'Silkscreen', cursive;
    border-radius: 15px;
    padding: .5vh;
    margin-top: .5vh;
    background-image: url('./constants/backgroundwebcore.png');
    background-size: 475px;
    background-position: center;
}
.scoreName{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 190%;
    text-shadow: 1px 5px 5px rgb(66, 26, 26);
    font-family: 'Silkscreen', cursive;
}

.scoreNumber{
    color: gold;
    font-family: 'Silkscreen', cursive;
    text-shadow: 10px 10px 5px rgb(40, 9, 9);
}


.mainDiv{
    border-radius: 40px;
    justify-content: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 742.5px; 
    margin: 3% 15%;    
    justify-content: start;
}

#leftMainDiv { 
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./constants/tetrisboardbackground.jpg');
    margin-right: .4vh;
    width: 22vh;
}



.TetrisBoard {
    position: relative;
    flex-basis: 398.25px;
    background-color: #1f2122;
    border: 2px solid;
    box-shadow: 6px 20px 30px rgb(112, 193, 93);
}

.savedTetroBoard {
    position: relative;
    border-radius: 15px;
    width: 18vh;
    height: 18vh;
    background-color: #1b2a31;
    border: 2px solid;
    box-shadow: 6px 10px 40px rgb(99, 125, 202);
    background-image: url('./constants/backgroundwebcore.png');
    background-size: 475px;
    background-position: center;
}

#incomingTetroContainer{
    position: relative;
    border-radius: 15px;
    margin-top: .5vh;
    width: 18vh;
    height: 76vh;
    background-color: #1b2a31;
    border: 2px solid;
    box-shadow: 6px 10px 40px rgb(99, 125, 202);
    background-image: url('./constants/backgroundwebcore.png');
    background-size: 735px;
    background-position: 80%;
}


.boardGrid {
    position: relative  ;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

.falling-container {
    position: absolute;
}

ul {
    display: block;
    list-style-type:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


input:focus {
    border: 3px solid rgb(196, 174, 174);
    background-color: #242828;
  }

.inputName{
    font-family: 'Silkscreen', cursive;
    color: yellow;
    width: 100%;
    height: 40px;
    font-size: 125%;
    border: none;
    outline: none;
    background-color: rgb(63, 77, 90);
    text-align: center; 
}

.gameOverTank{
    margin-top: 40%;
    width: 100%;
    border-style: outset;
    background-color: rgb(20, 36, 51);
}

.singleBlock {
    width: 100%;
    height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hlBlock{
    width: 100%;
    height: 100%;
    background-color: 1f2122;
    background: linear-gradient(-25deg, #ffffff, #23a6d5, #d90101);
	animation: gradient .1s ease infinite;
    background-size: 200% 200%;
  
}

.WholeTetro{
    position: absolute;
    padding: 0;
    margin: 0;
}

.savedTetro{
    position: absolute;
    padding: 0;
    margin: 0;
}

.GhostTetro{
    position: absolute;
    padding: 0;
    margin: 0;
}

.ghostBlock{
    background-color: 1f2122;
    opacity: 65%;
    width: 100%;
    height: 100%;
    box-shadow:
    inset 0 0 45px #fff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

.square-container{
    position: absolute;
    width: 25%;
    height: 25%; 
    border-style: inset;
    border-color: #081b1b;
}

.saved-square-container{
    position: absolute;
    width: 25%;
    height: 25%; 
    border-style: inset;
    border-color: #2a9898;
}

* {
    margin: 0;
    padding: 0; }
