@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, gold, rgb(98, 98, 195), violet);
}


.mainTitle {
    display: flex;
    justify-content: flex-end;
    padding-right: 32%;
    font-size: 200%;
}

.titleImage {
    max-width: auto;
    max-height: auto;
    width: 300px;

}

.scoreContainer{
    align-items: flex-start;
    margin-left: 100px;
}

.scoreTable{
    align-items: flex-start;
    width: 300px;
    list-style: none;
    text-align: end;
}



.eachLine{
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}

.playerName{
    padding-left: 10%;
    color: white;
    text-shadow: 1px 5px 5px rgb(66, 26, 26);
    font-family: 'Silkscreen', cursive;
}
.scoreNumber{
    color: gold;
    font-family: 'Silkscreen', cursive;
}

.mainDiv{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 550px; 
    margin-left: 150px;
    margin-top: -8%;
    
}

.TetrisBoard {
    position: relative;
    flex-basis: 295px;
    background-color: #e4faff;
}
.boardGrid {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

.square-container {
    position: absolute; }

ul {
    display: block;
    list-style-type:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/* 
        * {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  overflow: hidden; }

ul li {
  list-style: none; }

.TetrisBoard {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%; }



.TetrisBoard {
    position: relative;
    flex-basis: 295px;
    background-color: #e4faff; }
    @media screen and (max-width: 451px) {
        .TetrisBoard {
        flex-basis: 100%; } }
    @media screen and (max-width: 321px) {
        .TetrisBoard {
        flex-basis: 440px; } }
    .TetrisBoard .boardGrid {
        position: relative;
        width: 100%;
        height: 100%; }
        .TetrisBoard .boardGrid li.square-block-container {
        position: absolute; }
        .TetrisBoard .boardGrid li.square-block-container .singleBlock {
            width: 100%;
            height: 100%; }
    .TetrisBoard .tetromino {
        position: absolute; }
        .TetrisBoard .tetromino .square-block-container {
        position: absolute;
        width: 25%;
        height: 25%; }
        .TetrisBoard .tetromino .square-block-container .singleBlock {
            width: 100%;
            height: 100%; }
    .TetrisBoard .overlay {
        position: absolute;
        top: 0;
        height: calc(100% - 30px);
        color: #0d2e6d;
        padding: 15px;
        line-height: 2;
        overflow: hidden;
        background: rgba(228, 250, 255, 0.5); }
        .TetrisBoard .overlay a {
        text-decoration: none; } */